huggingface-hub
pydantic
tokenizers
transformers
psycopg2
accelerate
byaldi
colpali-engine
groq
img2table
ipykernel
Markdown
matplotlib
seaborn
numpy
pandas
pdf2image
pprintpp
polars
protobuf
pypdf
scikit-learn
scipy
transformers
poppler-utils
spacy
fitz
llama-parse
frontend
PyMuPDF
PyPDF2
sentence-transformers
faiss-gpu
langchain-community
langchain-core