pydantic

psycopg2
accelerate
groq
img2table
ipykernel
Markdown
matplotlib
seaborn
numpy
pandas
pdf2image
pprintpp

protobuf
pypdf
poppler-utils
spacy
fitz
llama-parse
frontend
PyMuPDF
PyPDF2
ollama
faiss-cpu
langchain-community
langchain-core
langchain-text-splitters
uuid4
gc
langchain-huggingface